.round_button {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
  margin-top: -15px;
  margin-right: 20px;
}
.round_button:hover {
  color: #a3d063;
  background-color: #fff;
}
.round_button .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}